<div class="card">
    <button class="button-style" (click)="signOut()">
        Sign out
        <div class="arrow-wrapper">
            <div class="arrow"></div>
        </div>
    </button>
    <img class="card-img" src="{{pet.url}}"/>
    <div class="card-info">
      <p class="text-title">{{pet.name}} </p>
      <p class="text-body">{{pet.description}}</p>
    </div>
    <div class="card-footer">
        <button mat-button (click)="goBack()">GO BACK</button>
        <button mat-button (click)="updatePet()">EDIT</button>
        <button mat-button (click)="deletePet()">DELETE</button>
    <div class="card-button">
     
    </div>
