<div class="form">
    <form [formGroup]="form" class="custom-form" method="post">
      <h1 *ngIf="isAddMode" class="text-title">Create Pet</h1>
      <h1 *ngIf="!isAddMode" class="text-title">Edit Pet</h1>
      <input
        type="name"
        name="name"
        formControlName="name"
        [(ngModel)]="name"
        placeholder="Name"
        required="required"
      />
      <input
        type="description"
        name="description"
        formControlName="description"
        [(ngModel)]="description"
        placeholder="Description"
        required="required"
      />
      
      <input
        type="url"
        name="url"
        formControlName="url"
        [(ngModel)]="url"
        placeholder="Insert the URL of the image"
        required="required"
      />
      <div class="card-footer">
        <button type="submit" class="confirm" (click)="onSubmit()">Submit</button>
      <button type="submit" class="cancel" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
