<div class="register">
    <form class="custom-form" [formGroup]="form" method="post">
      <h1>Register</h1>
      <input
        type="firstName"
        formControlName="firstName"
        name="firstName"
        placeholder="First name"
        required="required"
      />
      <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched" style="color: red;">
        <div *ngIf="form.get('firstName')?.errors?.['required']">
          *First name is required.
        </div>
      </div>     
      <input
        type="lastName"
        formControlName="lastName"
        [(ngModel)]="lastName"
        name="lastName"
        placeholder="Last name"
        required="required"
      />
      <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched" style="color: red;" >
        <div *ngIf="form.get('lastName')?.errors?.['required']">
          *Last name is required.
        </div>
      </div>          
      <input
        type="email"
        formControlName="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" style="color: red;">
        <div *ngIf="form.get('email')?.errors?.['required']">
          *Email is required.
        </div>
      </div>
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" style="color: red;">
        <div *ngIf="form.get('email')?.errors?.['email']">
          *Email is invalid.
        </div>
      </div>          
      <input
        type="password"
        formControlName="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" style="color: red;">
        <div *ngIf="form.get('password')?.errors?.['required']">
          *Password is required.
        </div>
      </div>
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" style="color: red;">
        <div *ngIf="form.get('password')?.errors">
          *Password must have at least 8 characters.
        </div>
      </div>            
      <input
        type="password"
        formControlName="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Repeat the password"
        required="required"
      />
      <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" style="color: red;">
        <div *ngIf="form.get('confirmPassword')?.errors?.['required']">
          *Confirm password is required.
        </div>
      </div>
      <div style="color: red;" role="alert" *ngIf="errorMessage?.length > 0">
          <p *ngFor="let error of errorMessage">
            *{{ error }}
          </p>
      </div>         
      <button type="submit" (click)="register()" [style.background-color]="form.invalid ? 'lightgrey' : ' #bcd8c1'"  [style.cursor]="form.invalid ? 'not-allowed' : 'pointer'" [disabled]="form.invalid">Register</button>
      <nav>
        <a>Already have an account? </a>
        <a class="nav-item" routerLink="/login">Login here!</a>
   </nav>
    </form>
  </div>
